{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}


{% block body %}
	<body class="body-register">

		<nav class="navbar-register d-flex justify-content-center mt-3 align-items-center">
			<img src="{{ asset('build/images/logo-makesense.png') }}" alt="">
		</nav>
		<div class="container mt-5 p-5 bk-register">
			<h1 class="title-register">S'inscrire</h1>
			<div class="bk-form p-2 d-flex justify-content-center align-items-center">
				{{ form_start(registrationForm) }}

				<div class="form-group w-50 m-auto d-flex flex-column gap-3">
					{{ form_row(registrationForm.email, {'attr':{'class':'form-control'}}) }}

					{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}

					{{ form_widget(registrationForm.plainPassword, {'attr':{'class':'form-control'}}
					) }}
					{{ form_errors(registrationForm.plainPassword, {'attr':{'class':'form-control'}}
					) }}
				</div>
				<p>Un administrateur devras approuvé votre inscription, mais ne vous inquietez pas ils sont très rapide.</p>
			</div>

			<div class="d-flex justify-content-evenly">
				<button type="submit" class="btn  bg-white mt-3 w-25">S'inscrire</button>
				{{ form_end(registrationForm) }}
				<button class="btn bg-danger mt-3 w-25" onclick="window.location='/';">Retour</button>
			</div>
		</div>
	</body>
{% endblock %}
