{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<main class="bg-primary py-5 ">
    <div class="m-5 pt-5 ">
        <div class="d-flex py-5 pb-2 mt-5 mb-3 pt-5 justify-content-between ">
            <h1 class="d-md-flex text-secondary fs-3 m-0 fw-bold ">Liste des catégories</h1>
            <a href="/admin/category/new"
                class="d-flex btn-sm text-primary btn btn-secondary fw-bold  align-items-center">Ajouter</a>
        </div>
        <div>
            <div class="d-flex m-2 justify-content-between bg-white rounded-2">
                <div class="  container  ">
                    <div class="row my-3 ">
                        <div class="col-1 ">
                        </div>
                        <div class="col-4">
                            Nom
                        </div>
                        <div class="col-4">
                            Couleur
                        </div>
                        <div class="col-3">

                        </div>
                    </div>

                    {% for category in categories %}
                    <div class="row my-2">
                        <div class="col-1">
                        </div>
                        <div class="col-4">
                            {{ category.name }}
                        </div>
                        <div class="col-4">
                            {{ category.color }}
                        </div>
                        <div class="col-3">
                            <a href="{{ path('app_admin_category_show', {'id': category.id}) }}"
                                class="text-primary btn btn-sm btn-success fw-bold rounded-5">Éditer</a>
                            <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"
                                class="text-primary btn-sm btn btn-danger fw-bold rounded-5">Suprimer</a>
                        </div>
                    </div>
                        {% else %}
                        <div class="row">
                            <div class="col">
                                aucun document trouvé
                            </div>
                        </div>
                        {% endfor %}
                        <a href="{{ path('app_admin_category_new') }}"></a>
                </div>
            </div>
        </div>
</main>
{% endblock %}