{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<main class="bg-primary backgroundShow">
    <div class="m-4 ">

        <h1>Categories</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <th>Couleur</th>
                    <td>{{ category.color }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_admin_category_index') }}">Retour à la liste</a>

        <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">Modifier</a>
    </div>
</main>
{{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}