{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('loginStyle') }}
{% endblock %}

{% block body %}
	{% block nav %}{% endblock %}
	<main class="body-login bg-primary py-2 fw-bold">
		<nav class="navbar-login d-flex bg-light justify-content-center mt-3 align-items-center">
			<img src="{{ asset('build/images/logo-makesense.png') }}" alt="">
		</nav>

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container mt-5 p-5 bk-register ">
			<h1 class="title-register fw-bold text-secondary">Se connecter</h1>
			<div class="bk-form bg-light py-4 d-flex flex-column justify-content-around align-items-center">
				{% if error %}
					<p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
				{% endif %}
				<form action="{{ path('app_login') }}" method="post" class="w-100">
					<div class="form-group py-2 w-50 m-auto d-flex flex-column gap-3">

						<label for="username">Email</label>
						<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>

						<label for="password" class="mt-3">Mot de passe</label>
						<input type="password" id="password" name="_password" class="form-control" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="hidden" name="_target_path" value="/">
						<button class="btn btn-tertiary fw-bold d-flex justify-content-center mt-3 mx-auto" type="submit">
							Se connecter
						</button>
						<a type="button" href='/register' class="btn btn-outline-tertiary d-flex justify-content-center mx-auto opacity-25">
							S'inscrire
						</a>
					</div>
				</div>
			</form>
		</div>
	</main>
{% endblock %}
