{{ form_start(form) }}

{{ form_label(form.email, 'Email')}}

{{ form_widget(form.email, {'attr':{'class':'form-control'}}
) }}
{{ form_errors(form.email, {'attr':{'class':'form-control'}}
) }}

{{ form_label(form.firstname, 'Prénom')}}

{{ form_widget(form.firstname, {'attr':{'class':'form-control'}}
) }}
{{ form_errors(form.firstname, {'attr':{'class':'form-control'}}
) }}

{{ form_label(form.lastname, 'Nom')}}

{{ form_widget(form.lastname, {'attr':{'class':'form-control'}}
) }}
{{ form_errors(form.lastname, {'attr':{'class':'form-control'}}
) }}

{{ form_label(form.roles, 'Roles')}}

{{ form_widget(form.roles, {'attr':{'class':'form-control'}}
) }}
{{ form_errors(form.roles, {'attr':{'class':'form-control'}}
) }}
<button class="btn btn-tertiary fw-bold">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
