{% extends 'base.html.twig' %}

{% block title %}Liste des membres
{% endblock %}
{% block body %}
	<main class="bg-quatro">
		<h1 class="fw-bold text-secondary">Liste des membres</h1>
		<div class="p-5 container">
			<div class="bg-white rounded">
				<table class="table">
					<thead>
						<tr>
							<th>Email</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Rôle</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.email }}</td>
								<td>{{ user.firstname }}</td>
								<td>{{ user.lastname }}</td>
								<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
								<td>
									<a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-tertiary fw-bold">Voir</a>
									<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-tertiary fw-bold">Editer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
