{% extends 'base.html.twig' %}

{% block title %}Liste des membres
{% endblock %}
{% block body %}
	<main class="bg-quatro">
		<div class="container text-start ps-5 mt-5">
			<h1 class="fw-bold text-secondary">Liste des membres</h1>
		</div>
		<div class="p-5 container">
			<div class="bg-white rounded-4 px-3 py-2">
				<table class="table">
					<thead>
						<tr>
							<th>Prénom</th>
							<th>nom</th>
							<th>Email</th>
							<th>Rôle</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.firstname }}</td>
								<td>{{ user.lastname }}</td>
								<td>{{ user.email }}</td>

								{% if user.roles|filter(role => role == "ROLE_ADMIN") %}
									<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_ADMIN"] }}</td>

								{% elseif user.roles|filter(role => role == "ROLE_MEMBER") %}
									<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_MEMBER"] }}</td>

								{% elseif user.roles|filter(role => role == "ROLE_USER") %}
									<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_USER"] }}</td>

								{% else %}
									<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_MEMBER"] }}</td>

								{% endif %}
								<td>
									<a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-cinco fw-bold">Voir</a>
									<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-secondary fw-bold">Editer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">Aucun enregistrement trouvé</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
