{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<main class="bg-quatro">
		<div class="container text-start ps-5 mt-5">
			<h1 class="fw-bold text-secondary">Profil de
				{{ user.firstname }}
				{{ user.lastname }}</h1>
		</div>
		<div class="p-5 container">
			<div class="bg-white rounded-4 px-3 py-2">
				<table class="table text-center">
					<tbody>
						<tr>
							<th>Email</th>
							<td>{{ user.email }}</td>
						</tr>
						<tr>
							<th>Prénom</th>
							<td>{{ user.firstname }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ user.lastname }}</td>
						</tr>
						<tr>
							<th>Rôle</th>
							{% if user.roles|filter(role => role == "ROLE_ADMIN") %}
								<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_ADMIN"] }}</td>

							{% elseif user.roles|filter(role => role == "ROLE_MEMBER") %}
								<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_MEMBER"] }}</td>

							{% elseif user.roles|filter(role => role == "ROLE_USER") %}
								<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_USER"] }}</td>

							{% else %}
								<td>{{ constant("App\\Controller\\AdminUserController::ROLES")["ROLE_MEMBER"] }}</td>

							{% endif %}
						</tr>
					</tbody>
				</table>
				<div class="container d-flex justify-content-around mt-5">
					<a href="{{ path('app_admin_user_index') }}" class="btn btn-tertiary text-white fw-bold">Retour</a>

					<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-secondary fw-bold">Éditer</a>

					{{ include('admin_user/_delete_form.html.twig') }}

				</div>
			</div>
		</div>
	</main>
{% endblock %}
