{% extends "base.html.twig" %}

{% block title %}Decision
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('decisionView') }}
{% endblock %}
{% block body %}

	{% if "now"|date("Y/m/d") < decision.firstDecisionEndDate|date("Y/m/d")  %}
		{% set statusColor = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") > decision.firstDecisionEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set statusColor = 'bg-cinco' %}
	{% elseif "now"|date("Y/m/d") > decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set statusColor = 'bg-primary' %}
	{% endif %}

	{% if "now"|date("Y/m/d") < decision.firstDecisionEndDate|date("Y/m/d")  %}
		{% set arrowStatus = 'arrowstart.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-tertiary' %}
		{% set timelineAfterConflictStatus = 'bg-tertiary' %}
		{% set timelineFinalStatus = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") > decision.firstDecisionEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.conflictEndDate|date("Y/m/d")  %}
		{% set arrowStatus = 'arrow2.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-primary' %}
		{% set timelineAfterConflictStatus = 'bg-tertiary' %}
		{% set timelineFinalStatus = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") > decision.conflictEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set arrowStatus = 'arrow3.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-primary' %}
		{% set timelineAfterConflictStatus = 'bg-primary' %}
		{% set timelineFinalStatus = 'bg-tertiary' %}
	{% elseif  "now"|date("Y/m/d") > decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set arrowStatus = 'arrow4.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-primary' %}
		{% set timelineAfterConflictStatus = 'bg-primary' %}
		{% set timelineFinalStatus = 'bg-primary' %}
	{% endif %}

	<main class="{{statusColor}}">
		<div class="container py-5 rounded-4 mt-5 bg-light">
			<div class="container">
				<div class="{{statusColor}} row py-5 mb-5 rounded-4">
					<h1 class="text-secondary fw-bolder fs-4 col-md-8 text-center">{{ decision.title }}</h1>
					<div class="col-md-4 text-white d-flex pt-4">
						<img class="mx-2 pictureCreator " src="{{ asset('build/images/icons/person.svg') }}" alt="Image de l'auteur">
						<div class="ms-2 py-3 pe-2">par</div>
						<div class="text-uppercase fw-bold py-3">{{decision.creator.firstname ~ ' ' ~ decision.creator.lastname}}</div>
					</div>
					{% if decision.creator == app.user %}
						<a class="btn btn-secondary text-primary fw-bold w-50 m-auto mt-4" href="{{ path('app_decision_edit', {decision:decision.id}) }}">Modifier ou faire avancer la décision</a>
					{% endif %}
					<div class="d-flex justify-content-end">
						<a href=" {{ path("app_decision_comment", {'decision': decision.id}) }}" class="d-flex justify-content-center btn bg-light w-25 bg-light fw-bold">Donner mon avis</a>
					</div>
				</div>
			</div>

			<div class="container rounded-4 border shadow bg-light">
				<h2 class="fs-2 fw-bold py-3"><img class="me-1" src="{{ asset('build/images/icons/calendar.svg') }}" alt="Icone de la section dates à retenir">Dates à retenir</h2>
				{% include "components/_timeline.html.twig" %}
				<div class="d-flex justify-content-around align-items-center">
					<div>
						<h3 class="text-primary fw-bold text-center">Personnes impactées</h3>
						<div class="d-flex justify-content-center my-3">
							{% for impactedUser in decision.interactions|filter(interaction=>interaction.decisionRole==constant('App\\Entity\\Interaction::DECISION_IMPACTED')) %}
								<img class="arrow profil-icons" src="{% if impactedUser.user.poster %}{{ asset('uploads/avatar/')~ impactedUser.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="User profile pictures">
							{% else %}
								Aucun salarié n'est impacté par cette décision pour l'instant.
							{% endfor %}
						</div>
					</div>
					<div>
						<div class="d-flex justify-content-center my-3">
							<div class="d-none d-lg-block">
								<h3 class="text-primary fw-bold text-center">Personnes expertes</h3>
								<div class="d-flex justify-content-center my-3">
									{% for expertUser in decision.interactions|filter(interaction=>interaction.decisionRole==constant('App\\Entity\\Interaction::DECISION_EXPERT')) %}
										<img class="arrow profil-icons" src="{% if expertUser.user.poster %}{{ asset('uploads/avatar/')~ expertUser.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="User profile pictures">
									{% else %}
										Aucun salarié expert n'est attribué à cette décision pour l'instant.
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if "now"|date("Y/m/d") > decision.conflictEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
				<form class="container" method="post" action="{{ path('app_decision', {'decision': decision.id}) }}">
					<div class="row mt-5 justify-content-around g-3">
						<button {{canVote ? '':'disabled'}} name="downVote" class="bg-{{canVote ? 'light':'darkGrey'}} vote-button border border-3 border-danger rounded-4 col-md-6 d-flex justify-content-around align-items-center py-4">
							<p class="text-dark fw-bold m-0 display-4">{{downVotes}}</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#B63C47" class="bi bi-hand-thumbs-down-fill" viewbox="0 0 16 16">
								<path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
							</svg>
						</button>

						<button {{canVote ? '':'disabled'}} name="upVote" class="bg-{{canVote ? 'light':'darkGrey'}} vote-button border border-3 border-cinco rounded-4 col-md-6 d-flex justify-content-around align-items-center py-4">
							<p class="text-dark fw-bold m-0 display-4">{{upVotes}}</p>
							<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#346A81" class="bi bi-hand-thumbs-up-fill" viewbox="0 0 16 16">
								<path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
							</svg>
						</button>
					</div>
					<input type="hidden" name="_token" value="{{ csrf_token('vote' ~ app.user.id) }}">
				</form>
			{% endif %}
			<div class="container mt-5">
				{% include "components/_decisionSection.html.twig" %}
			</div>
		</div>
	</main>
{% endblock %}
