{% extends "base.html.twig" %}

{% block title %}Decision
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('decisionView') }}
{% endblock %}
{% block body %}

	{% if "now"|date("Y/m/d") < decision.firstDecisionEndDate|date("Y/m/d")  %}
		{% set statusColor = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") > decision.firstDecisionEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set statusColor = 'bg-cinco' %}
	{% elseif "now"|date("Y/m/d") > decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set statusColor = 'bg-primary' %}
	{% endif %}

	{% if "now"|date("Y/m/d") < decision.firstDecisionEndDate|date("Y/m/d")  %}
		{% set arrowStatus = 'arrowstart.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-tertiary' %}
		{% set timelineAfterConflictStatus = 'bg-tertiary' %}
		{% set timelineFinalStatus = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") > decision.firstDecisionEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.conflictEndDate|date("Y/m/d")  %}
		{% set arrowStatus = 'arrow2.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-primary' %}
		{% set timelineAfterConflictStatus = 'bg-tertiary' %}
		{% set timelineFinalStatus = 'bg-tertiary' %}
	{% elseif "now"|date("Y/m/d") > decision.conflictEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set arrowStatus = 'arrow3.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-primary' %}
		{% set timelineAfterConflictStatus = 'bg-primary' %}
		{% set timelineFinalStatus = 'bg-tertiary' %}
	{% elseif  "now"|date("Y/m/d") > decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set arrowStatus = 'arrow4.svg' %}
		{% set timelineStartStatus = 'bg-primary' %}
		{% set timelineConflictStatus = 'bg-primary' %}
		{% set timelineAfterConflictStatus = 'bg-primary' %}
		{% set timelineFinalStatus = 'bg-primary' %}
	{% endif %}


	<main class="{{statusColor}}">

		<div class="container py-5 rounded-4 mt-5 bg-light">
			<div class="container">
				<div class="{{statusColor}} row py-5 mb-5 rounded-4">
					<h1 class="text-secondary fw-bolder fs-4 col-md-8 text-center">{{ decision.title }}</h1>

					<div class="col-md-4 text-white d-flex pt-4">
						<img class="mx-2 pictureCreator " src="{{ asset('build/images/icons/person.svg') }}" alt="Image de l'auteur">
						<div class="ms-2 py-3 pe-2">par</div>
						<div class="text-uppercase fw-bold py-3">{{decision.creator.firstname ~ ' ' ~ decision.creator.lastname}}</div>
					</div>
					<div class="col-md-12 d-flex justify-content-end">
						<a href=" {{ path("app_decision_comment", {'decision': decision.id}) }}" class="d-flex justify-content-center btn bg-light w-25 bg-light fw-bold">Donner mon avis</a>
					</div>
				</div>
			</div>

			<div class="container rounded-4 border shadow bg-light">
				<h2 class="fs-2 fw-bold py-3"><img class="me-1" src="{{ asset('build/images/icons/calendar.svg') }}" alt="Icone de la section dates à retenir">Dates à retenir</h2>
				{% include "components/_timeline.html.twig" %}
				<div class="d-flex justify-content-around">
					<div>
						<h3 class="text-primary fw-bold text-center">Personnes impactées</h3>
						<div class="d-flex justify-content-center my-3">
							{% if impactedUsers %}
								{% for impactedUser in impactedUsers %}
									<img class="arrow profil-icons" src="{% if impactedUser.user.poster %}{{ asset('uploads/avatar/')~ impactedUser.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="User profile pictures">
								{% endfor %}
							{% else %}
								Aucun salarié n'est impacté par cette décision pour l'instant.
							{% endif %}
						</div>
					</div>
					<div>
						<div class="d-flex justify-content-center my-3">
							<div class="d-none d-lg-block">
								<h3 class="text-primary fw-bold text-center">Personnes expertes</h3>
								<div class="d-flex justify-content-center my-3">
									{% if expertUsers %}
										{% for expertUser in expertUsers %}
											<img class="arrow profil-icons" src="{% if expertUser.user.poster %}{{ asset('uploads/avatar/')~ expertUser.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="User profile pictures">
										{% endfor %}
									{% else %}
										Aucun salarié expert n'est attribué à cette décision pour l'instant.
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container mt-5">
				{% include "components/_decisionSection.html.twig" %}
			</div>
		</div>
	</main>
{% endblock %}
