{% extends "base.html.twig" %}

{% block title %}Decision
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('decisionView') }}
{% endblock %}
{% block body %}
	<main>
		<div class="container py-5 rounded-4 mt-5 bg-tertiary">
			<div class="row py-5 mb-5">
				<h1 class="text-secondary text-uppercase fw-bolder fs-4 col-md-8 text-center">{{ decision.title }}</h1>

				<div class="col-md-4 text-white d-flex pt-4">
					<img class="mx-2 pictureCreator " src="{{ asset('build/images/icons/person.svg') }}" alt="Image de l'auteur">
					<div class="ms-2 py-3 pe-2">par</div>
					<div class="text-uppercase fw-bold py-3">{{decision.creator.firstname ~ ' ' ~ decision.creator.lastname}}</div>
				</div>
			</div>

			<div class="container rounded-4 border shadow bg-light">
				<h2 class="fs-2 fw-bold py-3"><img class="me-1" src="{{ asset('build/images/icons/calendar.svg') }}" alt="">Dates à retenir</h2>

				<div id="timelineGrid">
					<div id="state1" class="state bg-primary text-secondary text-center justify-content-center rounded-4 px-2 py-2">Prise de décision commencée</div>
					{% if "now"|date("Y/m/d") < decision.firstDecisionEndDate|date("Y/m/d") %}
						<div id="state2" class="state bg-tertiary text-secondary text-center justify-content-center rounded-4 px-2 py-2">Fin de la première décision et début des conflits</div>
					{% elseif "now"|date("Y/m/d") >= decision.firstDecisionEndDate|date("Y/m/d") %}
						<div id="state2" class="state bg-primary text-secondary text-center justify-content-center rounded-4 px-2 py-2">Fin de la première décision et début des conflits</div>
					{% endif %}
					{% if "now"|date("Y/m/d") < decision.conflictEndDate|date("Y/m/d") %}
						<div id="state3" class="state bg-tertiary text-secondary text-center justify-content-center rounded-4 px-2 py-2">Fin des conflits et début de la décision finale</div>
					{% elseif "now"|date("Y/m/d") >= decision.conflictEndDate|date("Y/m/d") %}
						<div id="state3" class="state bg-primary text-secondary text-center justify-content-center rounded-4 px-2 py-2">Fin des conflits et début de la décision finale</div>
					{% endif %}
					{% if  "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
						<div id="state4" class="state bg-tertiary text-secondary text-center justify-content-center rounded-4 px-3 py-2">Fin du processus de décision</div>
					{% elseif  "now"|date("Y/m/d") >= decision.finalDecisionEndDate|date("Y/m/d") %}
						<div id="state4" class="state bg-primary text-secondary text-center justify-content-center rounded-4 px-3 py-2">Fin du processus de décision</div>
					{% endif %}
					<div id="arrow">
						{% if "now"|date("Y/m/d") < decision.firstDecisionEndDate|date("Y/m/d")  %}
							<img class="arrow" src="{{ asset('build/images/icons/arrowstart.svg') }}" alt="Fleche de la timeline">
						{% elseif "now"|date("Y/m/d") <= decision.conflictEndDate|date("Y/m/d") %}
							<img class="arrow" src="{{ asset('build/images/icons/arrow2.svg') }}" alt="Fleche de la timeline">
						{% elseif "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
							<img class="arrow" src="{{ asset('build/images/icons/arrow3.svg') }}" alt="Fleche de la timeline">
						{% elseif  "now"|date("Y/m/d") >= decision.finalDecisionEndDate|date("Y/m/d") %}
							<img class="arrow" src="{{ asset('build/images/icons/arrow4.svg') }}" alt="Fleche de la timeline">
						{% endif %}
					</div>
					<div id="date1" class="state2 fw-bold text-center fs-5">{{ decision.decisionStartTime|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
					<div id="date2" class="state2 fw-bold text-center fs-5">{{ decision.firstDecisionEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
					<div id="date3" class="state2 fw-bold text-center fs-5">{{ decision.conflictEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
					<div id="date4" class="state2 fw-bold text-center fs-5">{{ decision.finalDecisionEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
				</div>
			</div>
		</div>

		<div class="container mt-5">
			<div class="row py-5 rounded-4 bg-tertiary">

				<div class="col-md-4 text-white fs-5 order-first pb-5">
					<nav id="navbar-decision" class=" align-items-stretch pe-4 border-end sticky-top">
						<nav class="nav nav-pills ">
							<a class="nav-link fw-bold" href="#detail"><img class="me-3" src="{{ asset('build/images/icons/decisiontxt.svg') }}" alt="">Détails de la décision</a>
							<nav class="nav nav-pills">
								<a class="nav-link ps-5 my-1" href="#impacto"><img class="me-3" src="{{ asset('build/images/icons/Vectororga.svg') }}" alt="">Impact sur l'organisation</a>
								<a class="nav-link ps-5 my-1" href="#bene"><img class="me-3" src="{{ asset('build/images/icons/Vectorthumbup.svg') }}" alt="">Bénéfices</a>
								<a class="nav-link ps-5 my-1" href="#rissk"><img class="me-3" src="{{ asset('build/images/icons/Vectorrisk.svg') }}" alt="">Risques potentiels</a>
							</nav>
							<nav class="nav nav-pills">
								<a class="nav-link fw-bold" href="#fsDecision"><img class="me-3" src="{{ asset('build/images/icons/firsstdecisiontxt.svg') }}" alt="">Première décision</a>
								<a class="nav-link fw-bold" href="#flDecision"><img class="me-3" src="{{ asset('build/images/icons/finaldecisiontxt.svg') }}" alt="">Décision finale</a>
							</nav>
						</nav>
					</nav>
				</div>
				<div class="col-md-8 text-white order-last px-5">
					<div data-bs-spy="scroll" data-bs-target="#navbar-decision" data-bs-smooth-scroll="true" class="scrollspy-example-2 " tabindex="0">
						<div id="detail" class="pb-5">
							<h2 class="fw-bold">Détails de la décision</h2>
							<p>{{ decision.details }}</p>
						</div>
						<div id="impacto" class="py-5">
							<h3 class="ps-3 class="fw-bold">Impact sur l'organisation</h3>
							<p class="ps-3">{{ decision.impact }}</p>
						</div>
						<div id="bene" class="py-5">
							<h3 class="ps-3 class="fw-bold">Bénéfices</h3>
							<p class="ps-3">{{ decision.gain }}</p>
						</div>
						<div id="rissk" class="py-5">
							<h3 class="ps-3 class="fw-bold">Risques potentiels</h3>
							<p class="ps-3">{{ decision.risk }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>{% endblock %}
