{% extends "base.html.twig" %}

{% block title %}Decision
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('decisionView') }}
{% endblock %}
{% block body %}

	{% if "now"|date("Y/m/d") <= decision.firstDecisionEndDate|date("Y/m/d")  %}
		{% set secondDecisionShow = false %}
		{% set finalDecisionShow = false %}
		{% set backgroundPhase1 = 'bg-primary' %}
		{% set backgroundPhase2 = 'bg-light' %}
		{% set backgroundPhase3 = 'bg-light' %}
		{% set backgroundPhase4 = 'bg-light' %}
		{% set textPhase1 = 'text-light' %}
		{% set textPhase2 = 'text-dark' %}
		{% set textPhase3 = 'text-dark' %}
		{% set textPhase4 = 'text-dark' %}
		{% set opacityPhase1 = 'opacity-100' %}
		{% set opacityPhase2 = 'opacity-100' %}
		{% set opacityPhase3 = 'opacity-100' %}
		{% set opacityPhase4 = 'opacity-100' %}
	{% elseif "now"|date("Y/m/d") > decision.firstDecisionEndDate|date("Y/m/d") and "now"|date("Y/m/d") <= decision.conflictEndDate|date("Y/m/d")  %}
		{% set secondDecisionShow = true %}
		{% set finalDecisionShow = false %}
		{% set backgroundPhase1 = 'bg-light' %}
		{% set backgroundPhase2 = 'bg-primary' %}
		{% set backgroundPhase3 = 'bg-light' %}
		{% set backgroundPhase4 = 'bg-light' %}
		{% set textPhase1 = 'text-dark' %}
		{% set textPhase2 = 'text-light' %}
		{% set textPhase3 = 'text-dark' %}
		{% set textPhase4 = 'text-dark' %}
		{% set opacityPhase1 = 'opacity-50' %}
		{% set opacityPhase2 = 'opacity-100' %}
		{% set opacityPhase3 = 'opacity-100' %}
		{% set opacityPhase4 = 'opacity-100' %}
	{% elseif "now"|date("Y/m/d") > decision.conflictEndDate|date("Y/m/d") and "now"|date("Y/m/d") <= decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set secondDecisionShow = true %}
		{% set finalDecisionShow = true %}
		{% set backgroundPhase1 = 'bg-light' %}
		{% set backgroundPhase2 = 'bg-light' %}
		{% set backgroundPhase3 = 'bg-primary' %}
		{% set backgroundPhase4 = 'bg-light' %}
		{% set textPhase1 = 'text-dark' %}
		{% set textPhase2 = 'text-dark' %}
		{% set textPhase3 = 'text-light' %}
		{% set textPhase4 = 'text-dark' %}
		{% set opacityPhase1 = 'opacity-50' %}
		{% set opacityPhase2 = 'opacity-50' %}
		{% set opacityPhase3 = 'opacity-100' %}
		{% set opacityPhase4 = 'opacity-100' %}
	{% elseif  "now"|date("Y/m/d") > decision.finalDecisionEndDate|date("Y/m/d") %}
		{% set secondDecisionShow = true %}
		{% set finalDecisionShow = true %}
		{% set backgroundPhase1 = 'bg-light' %}
		{% set backgroundPhase2 = 'bg-light' %}
		{% set backgroundPhase3 = 'bg-light' %}
		{% set backgroundPhase4 = 'bg-danger' %}
		{% set textPhase1 = 'text-dark' %}
		{% set textPhase2 = 'text-dark' %}
		{% set textPhase3 = 'text-dark' %}
		{% set textPhase4 = 'text-light' %}
		{% set opacityPhase1 = 'opacity-50' %}
		{% set opacityPhase2 = 'opacity-50' %}
		{% set opacityPhase3 = 'opacity-50' %}
		{% set opacityPhase4 = 'opacity-100' %}
	{% endif %}

	{# conditions for the comments #}
	{% if "now"|date("Y/m/d") < decisionFirstPeriod|date("Y/m/d") %}
		{% set backgroundColor = 'bg-white' %}
	{% endif %}
	{% if "now"|date("Y/m/d") >= decisionFirstPeriod|date("Y/m/d")  %}
		{% set backgroundColor = 'bg-tertiary' %}
	{% endif %}
	{% if "now"|date("Y/m/d") >= decisionConflictPeriod|date("Y/m/d")  %}
		{% set backgroundColor = 'bg-cinco' %}
	{% endif %}
	{% if "now"|date("Y/m/d") >= decisionFinalPeriod|date("Y/m/d")  %}
		{% set backgroundColor = 'bg-primary' %}
	{% endif %}

	<main class="bg-tertiary">
		<div class="row py-5 rounded mx-1">
			<div class="col-md-2 fs-5 order-first pb-5">
				{% include "/components/_sideBar.html.twig" %}
			</div>
			<div class="col-md-10 text-white order-last pt-3">
				<div data-bs-spy="scroll" data-bs-target="#navbar-decision" data-bs-smooth-scroll="true" class="scrollspy-example-2 " tabindex="0">
					<div class="pb-5 text-dark">
						{% if decision.creator == app.user %}
							<div>
								<a type="button" class="btn btn-secondary shadow-sm text-primary fw-bold w-100 rounded-top" href="{{ path('app_decision_edit', {decision:decision.id}) }}">Modifier ou faire avancer la décision</a>
							</div>
							<div class="container py-3 rounded shadow-sm bg-light">
								<div class="container bg-tertiary rounded text-center">
									<h2 id="titre" class="fw-bold pb-4 text-secondary pt-3">{{ decision.title }}</h2>
								</div>
							{% else %}
								<div class="container py-3 rounded shadow-sm bg-light">
									<div class="container bg-tertiary rounded text-center">
										<h2 id="titre" class="fw-bold pb-4 text-secondary pt-3">{{ decision.title }}</h2>
									</div>
								{% endif %}
								<div class="d-flex justify-content-end">
									<img class="mx-2 pictureComment" src="{% if decision.creator.poster %}{{ asset('uploads/avatar/')~ decision.creator.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="Image de l'auteur">
									<div class="ms-2 py-3 pe-2">par</div>
									<div class="text-uppercase fw-bold py-3">{{decision.creator.firstname ~ ' ' ~ decision.creator.lastname}}</div>
								</div>

								{% include "/components/_headerDetails.html.twig" %}

							</div>
						</div>
						{% include "/components/_decisionPart.html.twig" %}
						<div id="votes">
						{% include "/components/_vote.html.twig" %}
						</div>

						<div class="accordion mb-5" id="accordionPanelsStayOpenExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
										<div id="votes" class="fw-bold pb-3 py-3 btn btn-tertiary w-100 fs-3 text-white">Avis</div>
									</button>
								</h2>
								<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
									<div class="accordion-body">
										<div id="avis" class="pb-5 text-dark">
											{% include "/components/_commentFrame.html.twig" %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}
