<article class="{{backgroundColor}} py-4">
	<div class="commentAlign py-3 bg-white rounded-4 mt-2 shadow">
		<div class="ms-3 d-flex">
			<img class="mx-2 pictureComment" src="{% if comment.user.poster %}{{ asset('uploads/avatar/')~ comment.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="Image de l'auteur">
			<p class="my-auto">{{comment.user.firstname}}
				{{comment.user.lastname}}</p>
		</div>
		<div class="ms-4">
		<p class="p-3">{{comment.comment|raw}}</p>
		</div>
	</div>
</article>
