<div class="accordion mb-5" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 id="presentation" class="accordion-header" id="panelsStayOpen-headingOne">
			<button class="accordion-button bg-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
			<img class="iconDecision text-start" src="{{ asset('build/images/icons/decisiontxt.svg') }}" alt="">
				<div class="fw-bold pb-3 btn btn-tertiary w-100 fs-3 text-white">Présentation</div>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			<div class="accordion-body">
				<div class="pb-5 text-dark">
					<div>{{ decision.details|raw }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 id="impact" class="accordion-header" id="panelsStayOpen-headingTwo">
			<button class="accordion-button collapsed bg-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
			<img class="iconDecision" src="{{ asset('build/images/icons/Vectororga.svg') }}" alt="">
				<div class="fw-bold pb-3 btn btn-tertiary w-100 fs-3 text-white">Impact</div>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			<div class="accordion-body">
				<div>{{ decision.impact|raw }}</div>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 id="benefices" class="accordion-header" id="panelsStayOpen-headingThree">
			<button class="accordion-button collapsed bg-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
			<img class="iconDecision" src="{{ asset('build/images/icons/bene.svg') }}" alt="">
				<div class="fw-bold pb-3 btn btn-tertiary w-100 fs-3 text-white">Bénéfices</div>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
			<div class="accordion-body">
				{{ decision.gain|raw }}
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 id="risques" class="accordion-header" id="panelsStayOpen-headingFour">
			<button class="accordion-button collapsed bg-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
			<img class="iconDecision" src="{{ asset('build/images/icons/Vectorrisk.svg') }}" alt="">
				<div class="fw-bold pb-3 btn btn-tertiary w-100 fs-3 text-white">Risques</div>
			</button>
		</h2>
		<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
			<div class="accordion-body">
				{{ decision.risk|raw }}
			</div>
		</div>
	</div>
	{% if secondDecisionShow == true %}
		<div class="accordion-item">
			<h2 id="firsdecision" class="accordion-header" id="panelsStayOpen-headingFive">
				<button class="accordion-button collapsed bg-cinco" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
				<img class="iconDecision" src="{{ asset('build/images/icons/firsstdecisiontxt.svg') }}" alt="">
					<div class="fw-bold pb-3 btn btn-cinco w-100 fs-3 text-white">Première décision</div>
				</button>
			</h2>
			<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
				<div class="accordion-body">
					{{ decision.firstDecision|raw }}
				</div>
			</div>
		</div>
	{% endif %}
	{% if finalDecisionShow == true %}
		<div class="accordion-item">
			<h2 id="finaldecision" class="accordion-header" id="panelsStayOpen-headingSix">
				<button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
				<img class="iconDecision" src="{{ asset('build/images/icons/finaldecisiontxt.svg') }}" alt="">
					<div class="fw-bold pb-3 btn btn-primary w-100 fs-3 text-white">Décision finale</div>
				</button>
			</h2>
			<div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
				<div class="accordion-body">
					{{ decision.finalDecision|raw }}
				</div>
			</div>
		</div>
	{% endif %}
</div>
