<div class="row py-5 rounded-4 bg-light">
	<div class="col-md-4 fs-5 order-first pb-5">
		<nav id="navbar-decision" class=" align-items-stretch sticky-top pt-4">
			<nav class="nav nav-pills {{statusColor}} rounded-4 p-3">
				<img class="me-3" src="{{ asset('build/images/icons/decisiontxt.svg') }}" alt="Icone de la section détail de la décision décision"><a class="nav-link lo fw-bold" href="#detail">Détails de la décision</a>
				<nav class="nav nav-pills">
					<div class="d-flex w-100 ps-4 mt-2">
						<img class="me-3" src="{{ asset('build/images/icons/Vectororga.svg') }}" alt="Icone de la section sur l'impact sur l'organisation ">
						<a class="nav-link my-1 text-white" href="#impact">Impact sur l'organisation</a>
					</div>
					<div class="d-flex w-100 ps-4 mt-2">
						<img class="me-3" src="{{ asset('build/images/icons/Vectorthumbup.svg') }}" alt="Icone de la section Bénéfices">
						<a class="nav-link my-1 text-white" href="#benefice">Bénéfices</a>
					</div>
					<div class="d-flex w-100 ps-4 mt-2">
						<img class="me-3" src="{{ asset('build/images/icons/Vectorrisk.svg') }}" alt="Icone de la section sur les risques protentions">
						<a class="nav-link my-1 text-white" href="#risk">Risques potentiels</a>
					</div>
				</nav>
				<nav class="nav nav-pills mt-3">
					{% if secondDecisionShow == true %}
						<div class="d-flex w-100">
							<img class="me-3" src="{{ asset('build/images/icons/firsstdecisiontxt.svg') }}" alt="Icone de la section première décision">
							<a class="nav-link fw-bold text-white" href="#firstDecision">Seconde décision</a>
						</div>
					{% endif %}
					{% if finalDecisionShow == true %}
						<div class="d-flex w-100 mt-2">
							<img class="me-3" src="{{ asset('build/images/icons/finaldecisiontxt.svg') }}" alt="Icone de la section décision finale">
							<a class="nav-link fw-bold text-white" href="#finalDecision">Décision finale</a>
						</div>
					{% endif %}
				</nav>

				{% if "now"|date("Y/m/d") <= decision.decisionStartTime|date("Y/m/d")  %}
					{% else %}
						<div class="container-fluid text-center mt-4">
							<a type="button" class="btn btn-secondary justify-self-center fw-bold" href="{{ path("app_decision_commentView", {decision: decision.id})}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-fill me-2" viewbox="0 0 16 16">
									<path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
								</svg>Voir avis</a>
						</div>
				{% endif %}
			</nav>
		</nav>
	</div>
	<div class="col-md-8 text-white order-last px-5">
		<div data-bs-spy="scroll" data-bs-target="#navbar-decision" data-bs-smooth-scroll="true" class="scrollspy-example-2 " tabindex="0">
			<div id="detail" class="pb-5 text-dark">
				<h2 class="fw-bold pb-4">Détails de la décision</h2>
				<p>{{ decision.details|raw }}</p>
			</div>
			<div id="impact" class="py-5 text-dark">
				<h3 class=" fw-bold pb-4">Impact sur l'organisation</h3>
				<p>{{ decision.impact|raw  }}</p>
			</div>
			<div id="benefice" class="py-5 text-dark">
				<h3 class=" fw-bold pb-4">Bénéfices</h3>
				<p>{{ decision.gain|raw  }}</p>
			</div>
			<div id="risk" class="py-5 text-dark">
				<h3 class=" fw-bold pb-4">Risques potentiels</h3>
				<p>{{ decision.risk|raw  }}</p>
			</div>
		</div>

		{% if secondDecisionShow == true %}
			<div id="firstDecision" class="pb-5 text-dark">
				<h2 class="fw-bold pb-4">Seconde décision</h2>
				<p>{{ decision.firstDecision|raw }}</p>
			</div>
		{% endif %}
		{% if finalDecisionShow == true %}
			<div id="finalDecision" class="pb-5 text-dark">
				<h2 class="fw-bold pb-4">Décision finale</h2>
				<p>{{ decision.finalDecision|raw }}</p>
			</div>
		{% endif %}
	</div>
</div>
