<div class="text-light fw-bold fs-2 w-75 m-auto text-center">
	{{ form_start(form) }}
	<div class="my-5 row align-items-center text-center">
		<div class="col-md-2 col-sm-3">
			{{ form_label(form.title) }}
		</div>
		<div class="col-md-10 col-sm-12">
			{{ form_widget(form.title, {'attr': {'class': 'py-2 fs-1'}}) }}
		</div>
		{{form_errors(form.title)}}
	</div>
	<div class="text-center">
		{{ form_label(form.interactions) }}
		{{ form_errors(form) }}
		{{ form_widget(form.interactions) }}
	</div>
	<div class="first-form-spacing text-center">
		{{ form_row(form.details) }}
	</div>
	<div class="form-spacing text-center">
		{{ form_row(form.impact) }}
	</div>
	<div class="form-spacing text-center">
		{{ form_row(form.gain) }}
	</div>
	<div class="form-spacing text-center">
		{{ form_row(form.risk) }}
	</div>
	<button type="submit" class="btn btn-light text-primary fw-bold my-5 text-center">Modifier la décision</button>
	{{ form_end(form) }}
</div>
