<div class="row justify-content-center fs-4">
	<div class="text-center">
		<div class="{{backgroundPhase1}}  {{textPhase1}} {{opacityPhase1}}  rounded-4 fw-light fs-5 w-75 mx-auto">
			<div class="">Prise de décision commencée</div>
			<div>{{ decision.decisionStartTime|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
		</div>
	</div>
	<div class="text-center">
		<div class="{{backgroundPhase2}}  {{textPhase2}} {{opacityPhase2}} mt-3 mx-1 rounded-4 fw-light fs-5 w-75 mx-auto">
			<div class="">Fin de la première décision et début des conflits</div>
			<div>{{ decision.firstDecisionEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
		</div>
	</div>
	<div class="text-center">
		<div class="{{backgroundPhase3}} {{textPhase3}} {{opacityPhase3}} mt-3 mx-1 rounded-4 fw-light fs-5 w-75 mx-auto">
			<div class="">Fin des conflits et début de la décision finale</div>
			<div>{{ decision.conflictEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
		</div>
	</div>
	<div class="text-center">
		<div class="{{backgroundPhase4}}  {{textPhase4}} {{opacityPhase4}} mt-3 mx-1 rounded-4 fw-light fs-5 w-75 mx-auto">
			<div class="">Fin du processus de décision</div>
			<div>{{ decision.finalDecisionEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</div>
		</div>
	</div>
</div>
<div class="d-flex justify-content-around align-items-center">
	<div class="d-none d-lg-block">
		<h3 class="text-primary fw-bold text-center">Personnes impactées</h3>
		<div class="d-flex justify-content-center my-3">
			{% for impactedUser in decision.interactions|filter(interaction=>interaction.decisionRole==constant('App\\Entity\\Interaction::DECISION_IMPACTED')) %}
				<img class="arrow profil-icons" src="{% if impactedUser.user.poster %}{{ asset('uploads/avatar/')~ impactedUser.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="User profile pictures">
			{% else %}
				Aucun salarié n'est impacté par cette décision pour l'instant.
			{% endfor %}
		</div>
	</div>
	<div>
		<div class="d-flex justify-content-center my-3">
			<div class="d-none d-lg-block">
				<h3 class="text-primary fw-bold text-center">Personnes expertes</h3>
				<div class="d-flex justify-content-center my-3">
					{% for expertUser in decision.interactions|filter(interaction=>interaction.decisionRole==constant('App\\Entity\\Interaction::DECISION_EXPERT')) %}
						<div class="p-2">
							<img class="arrow profil-icons" src="{% if expertUser.user.poster %}{{ asset('uploads/avatar/')~ expertUser.user.poster }}{% else %}{{ asset('build/images/icons/person.svg') }}{% endif %}" alt="User profile pictures">
						</div>
					{% else %}
						Aucun salarié expert n'est attribué à cette décision pour l'instant.
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
