<nav id="navbar-decision" class=" align-items-stretch sticky-top pt-3 d-none d-lg-block">
	<nav class="nav nav-pills bg-white rounded-2 py-2 flex-column">

		<div class="">

			<a class="btn btn-white d-flex fw-bold mx-auto" href="#titre" role="button"><img class="" src="{{ asset('build/images/icons/title.svg') }}" alt=""><div class="my-auto ms-2">Titre</div>
			</a>
		</div>
		<div class="">
			<a class="btn btn-white d-flex fw-bold mx-auto" href="#presentation">
				<div><img class="" src="{{ asset('build/images/icons/decisiontxt.svg') }}" alt=""></div>
				<div class="ms-2 my-auto">Présentation</div>
			</a>
		</div>
		<div class="">
			<a class="btn btn-white  d-flex fw-bold mx-auto" href="#impact">
				<div><img class="" src="{{ asset('build/images/icons/Vectororga.svg') }}" alt=""></div>
				<div class="ms-2 my-auto">Impact</div>
			</a>
		</div>
		<div class="">
			<a class="btn btn-white  d-flex fw-bold mx-auto" href="#benefices"><img class="" src="{{ asset('build/images/icons/bene.svg') }}" alt=""><div class="ms-2 my-auto">Bénéfices</div>
			</a>
		</div>

		<div class="">
			<a class="btn btn-white  d-flex fw-bold mx-auto" href="#risques"><img class="" src="{{ asset('build/images/icons/Vectorrisk.svg') }}" alt=""><div class="ms-2 my-auto">Risques</div>
			</a>
		</div>
		{% if secondDecisionShow == true %}
			<div class="">
				<a class="btn btn-white  d-flex fw-bold mx-auto" href="#firstdecision">
					<img class="" src="{{ asset('build/images/icons/firsstdecisiontxt.svg') }}" alt="">
					<div class="my-auto ms-2">1ère décision</div>
				</a>
			</div>
		{% endif %}
		{% if finalDecisionShow == true %}
			<div class="">
				<a class="btn btn-white  d-flex fw-bold mx-auto" href="#finaldecision">
					<img class="" src="{{ asset('build/images/icons/finaldecisiontxt.svg') }}" alt=""><div class="ms-2">Décision finale</div></a>
			</div>
		{% endif %}
		{% if "now"|date("Y/m/d") > decision.conflictEndDate|date("Y/m/d") and "now"|date("Y/m/d") < decision.finalDecisionEndDate|date("Y/m/d") %}
			<div class="">
				<a class="btn btn-white  d-flex fw-bold mx-auto" href="#votes"><img class="" src="{{ asset('build/images/icons/Vectorthumbup.svg') }}" alt=""><div class="ms-2 my-auto">Vote</div>
				</a>
			</div>
		{% endif %}

		<div class="">
			<a class="btn btn-white  d-flex fw-bold mx-auto" href="#avis"><img class="" src="{{ asset('build/images/icons/seecomment.svg') }}" alt=""><div class="my-auto ms-2">Avis</div>
			</a>
		</div>
		{% if decision.status.decisionStatus != constant('App\\Entity\\Status::DECISION_FINISHED') and decision.status.decisionStatus != constant('App\\Entity\\Status::DECISION_NOT_STARTED')%}
			<div class="">
				<a class="btn btn-white  d-flex fw-bold mx-auto" href="{{ path('app_decision_comment', {'decision': decision.id}) }}"><img class="" src="{{ asset('build/images/icons/writtingcom.svg') }}" alt=""><div class="my-auto ms-2">Ecrire un avis</div>
				</a>
			</div>
		{% endif %}
	</nav>
</nav>
